{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block header %}

<div class="page-header">
  <h1>Actividades Diarias <small>Dia </small></h1>
</div>

 {% endblock %}

{% block content %}
	<div class="container">
		<img class="col-6 col-lg-4" src="{{ asset('images/logo.png') }}"> <br>
		<a href=""><button class="btn btn-default btn-large clearfix">Crear Flete</button></a>
	</div>
{% endblock %}