{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block cabecera %}
Login
{% endblock %}

{% block content %}
	<span></span>
    	{% block fos_user_content %}{% endblock %}
{% endblock %}