{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block header %}

<div class="page-header">
  <h1 >Operadores</h1>
</div>

<div>
	<img class="col-lg-3 col-lg-offset-4" src="{{ asset('images/logo.png') }}">
</div>

{% endblock %}

{% block content %}
	<div class="container">
		
		<a href="{{ path('_crearOperador') }}"><button class="btn btn-default btn-large">Crear Operador</button></a>
	</div>
{% endblock %}