{% extends 'TimsaControlFletesBundle::layout.html.twig' %}
{% block header %}
	<div class="page-header">
	  <h1 class="text-center">Listado de Fletes <br>
	    <button class="btn btn-primary btn-sm">Nuevo Flete</button>
	</h1>
</div>

{% endblock %}
{% block content %}
	<style type="text/css">
		.flete.ng-enter,
		.flete.ng-leave,
		.flete.ng-move,
		.flete.ng-active {
		  -webkit-transition: 0.5s linear all;
		  -moz-transition: 0.5s linear all;
		  -o-transition: 0.5s linear all;
		  transition: 0.5s linear all;
		  opacity:0;
		}

		.flete.ng-enter.ng-enter-active,
		.flete.ng-move.ng-move-active {
		  opacity:1;
		}
	</style>
	<div ng-app="fletesApp">
		<div ng-controller="fleteListController">
			<div style="text-align: center;" >
				<img class="" ng-src="{[{loadImage}]}" ng-hide="{[{load}]}" id="load">
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>economico</th>
						<th>operador</th>
						<th>licencia</th>
						<th>socio</th>
						<th >Booking</th>
						<th>WorkOrder</th>
						<th>Trafico</th>
						<th>Cliente</th>
						<th>Contenedor(s)</th>
						<th>Size</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="flete in fletes" class="flete">
						<td>{[{flete.id}]}</td>
						<td>{[{flete.Economico}]}</td>
						<td>{[{flete.Operador}]}</td>
						<td>NO de licencia</td>
						<td>{[{flete.SocioNombre}]}</td>
						<td>{[{flete.Booking}]}</td>
						<td>{[{flete.Workorder}]}</td>
						<td> {[{flete.Trafico}]} </td>
						<td>{[{flete.Cliente}]}</td>
						<td>{[{flete.Contenedor}]}</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<input type="text" class="form-control" ng-model="entrada">
			<button class="form-control btn btn-primary" ng-click="append()">Añadir</button>

			<pre>
				{[{fletes}]}
			</pre>

		</div>
	</div>
	{% endblock %}
	{% block javascripts %}
	{{parent()}}

		<script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>

		<script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular-resource.min.js"></script>

		<script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular-animate.min.js"></script>

		<script type="text/javascript" src="{{asset("js/flete/app_flete.js")}}"></script>

	{% endblock %}