{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block header %}

<div class="page-header">
  <h1>Fletes</h1>
</div>

 {% endblock %}

{% block content %}
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th rowspan=2> Num. Cuota </th>
	      <th rowspan=2> Nombre </th>
	      <th colspan=3 > Sencillo </th>
	      <th colspan=3> Full</th>
	      </tr>
	      <tr>
	        <th> Importacion </th>
	        <th> Exportacion </th>
	        <th> Reutilizado </th>

	        <th> Importacion </th>
	        <th> Exportacion </th>
	        <th> Reutilizado </th>
	      </tr>      
	    
	  </thead>
	  <tbody>
	  	<tr>
	  		<td>askdjbaskjdsakj</td>
	  	</tr>
	  </tbody>
	</table>

{% endblock %}
