<div class="socio">

	<ul class="nav nav-tabs nav-justified" id="tabla">
	  <li class="active"><a href="#eco" data-toggle="tab">Economicos   <span class="badge">{{economicos|length}}</span></a>  </li>
	  <li>	<a href="#soc" data-toggle="tab">Socios </a>	 </li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane col-lg-8 active" id="eco">
			<ul>
			{% for economico in economicos %}
				<li><img src="{{asset('images/camion.jpg')}}"> <span class="label label-default"> {{ economico.numero }} </span></li>
			{% else %}
			<h1>El socio no posee economicos asignados</h1>
			{% endfor %}
			</ul>
		</div>
		<div class="tab-pane col-lg-8" id="soc">
			<img src="{{asset('images/'~ socio.imagen)}}" >
		</div>
	</div>
</div>