<div class="socio">

	<ul class="nav nav-tabs nav-justified" id="tabla">
	  <li ><a href="#eco" data-toggle="tab">Economicos</a>  </li>
	  <li class="active">	<a href="#soc" data-toggle="tab">Socios </a>	 </li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane  col-lg-8" id="eco">
			<ul>
			{% for economico in economicos %}
				<li><h1>{{ economico.placas }}</h1></li>
			{% endfor %}
			</ul>
		</div>
		<div class="tab-pane active col-lg-8" id="soc">
			<h1>Hello</h1>
		</div>
	</div>
</div>