{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block cabecera %}
Socios
<div>
</div>

{% endblock %}

{% block content %}
	<div class="col-lg-4">
		<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
		  <li class="active"><a href="">Socios</a></li>
		  <li><a href="">Crear Socio</a></li>
		</ul>

		<a href="{{ path('_crearOperador') }}"><button class="btn">Crear Operador</button></a>
	</div>

	<div>
		
	</div>

		
{% endblock %}