<div>
    <h1>Este es el filtro que se desea llenar con los datos extraidos desde la funcion rest</h1>
    <p>
        <small> Este texto es solo de ejemplo para dar una idea de todo lo que se esta diciendo en el taller
        repito.
            example de los datos extraidos desde el servicio restfull
        </small>
    </p>
</div>